.navigation, .footer{
    height: 45px;
/* background: white; */
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
background: rgb(37,41,52);
}
.link{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: georgia, 'times new roman', serif;
    font-weight: 110;
      /* color: #1779C0; */
      color: whitesmoke;
}

.link:hover{
    width: 40px;
    height: 25px;
    border-radius: 6px;
    text-transform: none;
}


// goto page design 
.goto-page{
width: 100%;
height: 87vh;
}


