.page{
    /* background: greenyellow; */
    display: flex;
    /* flex-direction:column; */
}

.section{
   margin: auto;
    padding-left: 15px;
    padding-right: 2px;
    width: 650px;
    height: 500px;
    display: flex;
     flex-direction: column; 
    box-sizing: border-box;
}

img{
    width: 650px;
    height: 500px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.section-container{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}