.page{
    /* background: greenyellow; */
    display: flex;
    /* flex-direction:column; */
}

.section{
   margin: auto;
    padding-left: 15px;
    padding-right: 2px;
    width: 550px;
    height: 400px;
    display: flex;
     flex-direction: column; 
    box-sizing: border-box;
}

img{
    width: 498px;
    height: 498px;
    border-radius: 5px;
}

.section-container{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}